name: 01-CICD-Dotnet-App
on:
  push:
    branches: ["main"]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
      - name: Build Project
        run: dotnet build
      - name: Publish
        run: dotnet publish -c Release -o ./publish
      - name: Create ZIP package
        run: |
          cd publish
          zip -r ../dotnet-app.zip .
      - name: Upload ZIP artifact
        uses: actions/upload-artifact@v6.0.0
        with:
          name: dotnet-app-build
          path: dotnet-app.zip

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download ZIP artifact
        uses: actions/download-artifact@v7.0.0
        with:
          name: dotnet-app-build
          path: ./artifact

      - name: Deploy to Server
        uses: azure/webapps-deploy@v3
        with:
          app-name: "esi-webapp"
          package: "./artifact/dotnet-app.zip"
